
# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Git
.git
.gitignore

# Environment Files
.env
.env.local
.env.development
.env.production

# Logs
*.log

# Editor
.vscode
.idea

# OS Files
.DS_Store
Thumbs.db

# Documentation
README.md

# Docker
Dockerfile
.dockerignore
